html {
  overflow-x: hidden;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

img,
video,
iframe {
  max-width: 100%;
  width: 100%;
  height: auto;
  display: block;
}
